.hello-world {
  font-family: 'Comfortaa';
  display: flex;
  justify-content: center;
}

.hello-world b {
  margin-left: 5px;
  margin-right: 5px;
}

.hello-world-sentence {
  font-size: .1px;
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 2s;
}

.hello-world-sentence-visible {
  font-size: 100%;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.avatar {
  border-radius: 12px;
  max-width: 340px;
}

.avatar-small {
  border-radius: 12px;
  width: 165px;
}

.about {
  background-color: #6E07F3;
  display: grid;
  place-items: center;
  min-height: 550px;
  color: white;
  z-index: 2;
}

.section {
  display: flex;
  justify-content: top;
  flex-direction: column;
}

a {
  color: #1EDD88;
}

.contact a {
  color: #6E07F3;
  z-index: 3;
}

.section i {
  font-size: 30px;
  color: #6E07F3;
  flex: 1 0 auto;
  align-items: center;
  justify-self: center;
}

.skills p {
  font-size: 20px;
  transition: 0.2s ease-in;
  opacity: 0.2;
}


.box-images {
  display: grid;
}

.contact {
  display: flex;
  align-items: end;
  justify-content: center;
}

.skills {
  font-size: 30px;
  color: #1EDD88;
  display: flex;
  align-items: center;
  justify-content: space-around;
  place-items: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.stars {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  max-width: fit-content;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

.logo:nth-child(5) {
  transition-delay: 800ms;
}

.logo:nth-child(6) {
  transition-delay: 1000ms;
}

.logo:nth-child(7) {
  transition-delay: 1200ms;
}

/* .skills i {
  display: flex;
} */

.skills p:hover {
  opacity: 1;
}

.fade-in {
  animation: fadeIn 4s;
}

.fade-in-slow {
  animation: fadeIn 4s 2s both;
}

.fade-in-medium {
  animation: fadeIn 4s 1s both;
}

.fade-in-slowest {
  animation: fadeIn 4s 3s both;
}

.projects {
  flex-wrap: inherit;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-height: 800px;
  border: -1px solid black;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.project-background {
  height: max-content;
}

.project {
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 600;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;

}

.project-photo {
  max-width: 364px;
  width: 100%;
  height: 189px;
  max-height: auto;
  border-radius: 5px;
  align-self: center;
}

.project i {
  color: #1EDD88;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.border-project {
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.coding-languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.coding-languages img {
  max-width: 45px;
  width: 100%;
  max-height: auto;
}

.contact {
  font-family: Comfortaa;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.name {
  font-family: 'Comfortaa';
  font-size: 90px;
  display: flex;
  justify-content: space-evenly;
}

.resume {
  width: 500px;
  height: 375px;
}

.intro-paragraph {
  font-family: 'Comfortaa';
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  div.name {
    font-size: 50px;
  }

  .resume {
    width: max-content;
    height: 250px;
  }

  .intro {
    font-size: 17px;
  }

  .intro-paragraph,
  .project-description {
    font-size: 13px;
  }

  .hello-world {
    font-size: 17px;
  }

  .nav-link {
    font-size: 12.5px;
    padding: 0.5rem 0.5rem;
  }

  #project {
    font-size: 1.5rem;
  }
}
